// bower:scss
// endbower

@import 'normalize';
@import 'settings';
@import 'foundation/components/grid';
@import 'foundation/components/flex-video';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';
@import 'foundation/components/visibility';

// ================
// Base Definitions
// ================
@mixin bottom-border($color) {
	border-bottom: 7px solid $color;
}

@mixin stripe($color) {
	background: linear-gradient(to top left, $color 24%, transparent 24%,
						transparent 49%, $color 49%, $color 74%,
						transparent 0%);
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

section, footer {
	position: relative;
}

::selection {
	background-color: $yellow;
	color: $white;
}

section:not(.top-bar-section):not(#event) {
	padding-top: 5em;
	padding-bottom: 5em;
}

hr {
	border: none;
	position: absolute;
	bottom: 1.5em;
	height: 30px;
	width: 100%;
}

#landing-separator {
	background-color: $white;
	height: 10px;
}

#when-separator {
	@include stripe($white);
	background: $red;
	background-size: 30px 30px;
}

#quote-separator {
	background-color: $yellow;
}

#landing, #event-title {
	background: $yellow;
}

#what, #quote, #contact, #event, #closing {
	background: $white;
}

#when, footer {
	background: $red;
}

#teaser {
	background: $blue;
}

#closing {
	@include bottom-border($red);
}

.top-bar .name h1 {
	background: url("../images/header.png") no-repeat;
	background-size: contain;
	margin-top: 10px;
	text-indent: -9999px;
}

nav {
	letter-spacing: 0.1em;

	ul li {
		margin-top: 0.5em;
		text-decoration: underline;
	}
}

footer {
	padding-top: 3.5em;
	padding-bottom: 1.5em;
	width: 100%;

	p {
		color: $white;
		font-family: $serif;
		font-size: 2rem;
	}

	ul {
		font-size: 0;
		height: 30px;
		margin: 0;
		position: absolute;
		top: 0;
		width: 100%;

		li {
			display: inline-block;
			height: 100%;
			width: 50%;

			&:nth-child(1) {
				background-color: $yellow;
			}

			&:nth-child(2) {
				background-color: $blue;
			}
		}
	}
}

// =======
// Content
// =======
#landing {
	min-height: 100vh;
	background-image: url("../images/computer.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;

	@media #{$medium-up} {
		background-size: 40%;
	}

	h2 {
		margin-top: 50vh;
		color: $white;
		font-weight: bold;
		line-height: 1.1em;
	}
}

#what h3 {
	@include bottom-border($red);
	text-align: right;
}

#what-img {
	@include stripe($yellow);
	position: relative;
	background-color: $white;
	background-size: 30px 30px;
	height: 15em;
	padding-right: -1em;

	img {
		position: absolute;
		max-width: 100%;
		right: -1em;
	}
}

#when {
	h3, h4, p, a {
		color: $white;
	}

	h4 {
		margin-top: 1em;
		text-align: center;
	}

	a {
		font-family: $serif;
		font-size: 2.5rem;
		text-decoration: underline;
	}

	img {
		display: block;
		margin: auto;
		max-width: 60%;
	}
}

#quote {
	@media #{$large-up} {
		padding-top: 8em;
		padding-bottom: 10em;
	}

	h3:first-of-type {
		color: $yellow;
	}

	h3:last-of-type {
		color: $blue;
	}
}

#teaser {
	h3 {
		position: relative;
		display: inline-block;
		float: right;
		background-color: $white;
		color: $blue;
		padding: 0.2em 0.8em 0 1em;
		margin-bottom: 0.5em;
	}

	span {
		position: absolute;
		left: 0.3em;
		top: 0;
		background-color: $blue;
		height: 100%;
		width: 0.3em;
	}

	.flex-video {
		clear: both;
	}

	iframe {
		border: none;
	}
}

#event-title {
	height: 20em;
	position: relative;

	h2 {
		position: absolute;
		left: 10%;
		bottom: 5%;
		color: white;
	}
}

#event {
	// CSS specificity hack
	.row .columns h3 {
		@include bottom-border($blue);
		text-align: right;
	}

	// CSS specificity hack
	.medium-8 .row {
		margin-bottom: 1em;

		img {
			display: block;
			margin: auto;

			@media #{$small-only} {
				max-width: 50%;
			}
		}
	}
}

// CSS specifity hack
.row aside .row {
	margin-bottom: 2em;

	p {
		font-family: $serif;
		color: $red;
	}

	&:last-of-type {
		margin-bottom: 5em;

		@media #{$medium-up} {
			@include bottom-border($red);
		}
	}
}

#dont-miss {
	@include stripe($yellow);
	background-color: $white;
	background-size: 30px 30px;
	margin-bottom: 5em;
	padding: 2em 0 8em 3em;
	position: relative;

	h3 {
		position: relative;
		font-weight: bold;
		z-index: 1;
	}

	img {
		bottom: -4.8em;
		max-width: 80%;
		position: absolute;
		right: 5%;
	}
}

#contact {
	// CSS specificity hack
	.row .medium-8 {
		margin-top: 2em;
	}

	h3 {
		color: $yellow;
		font-weight: bold;
		line-height: 1.2em;
	}

	h4, a {
		color: $red;
	}

	p {
		display: inline;
		font-family: $serif;
	}

	a {
		display: inline-block;
	}

	img {
		margin-bottom: 2em;

		&[src*="images/fasilkom.png"] {
			@media #{$large-up} {
				border-right: 2px solid rgb(94, 96, 97);
				margin-right: 1em;
				padding-right: 1em;
			}
		}
	}
}
